.recommended-flex {
  display: flex;
  margin-left: 20rem;
  padding-top: 2rem;
}
.recommended-flex button{
  background-color: #33b683;
  padding: 15px;
  width: 10rem;
  color: white;
  border-color: #33b683;
  border-radius: 50px;
  transition: .2s;
  font-size: 12pt;
}
.recommended-flex button:hover{
  /* box-shadow: inset 0 -50px 0 rgb(25, 0, 137); */
  box-shadow: 0 10px 20px rgb(189, 189, 189,0.7);
  transition: .2s;
}
@media (max-width: 1350px) {
  .recommended-flex {
    margin-left: 12em;
  }
  .recommended-flex button{
    margin-left: 20px;
    padding: 9px;
    width: 7rem;
    font-size: 12px;
  }
}