nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding:  20px 0 0 17.7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* height: 20vh; */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.email_section {
  margin-left: 10px;
  font-weight: bold;
  color: #33b683;
}

.hello {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
  transform: translateY(2px);
}

/* box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.1); */
/* background-color: #f8f6ff; */

.navtitle {
  width: 95.5%;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  color: #3b1277;
}

.navtitle1 {
  width: 95.5%;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  color: #3b1277;
}

.navforminput {
  padding: 12px 20px;
  border: 2px solid rgba(0, 0, 0, 0.082);
  background: #f7f6f6;
  outline: none;
  border-radius: 50px;
  height: 50px;
  width: 30rem;
  margin-left: 1em;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}
.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
}

.home_form {
  padding: 30px;
  margin-left: 50px;
}

.searchbtn {
  padding: 7px;
  transform: translateX(-105px);
  border-radius: 50px;
  border: none;
  background-color: #33b683;
  height: 40px;
  width: 100px;
  cursor: pointer;
  color: white;
  /* box-shadow: 0 0 100px blueviolet; */
}

@media (max-width: 1350px) {
  .navforminput {
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 0, 0.082);
    background: #f7f6f6;
    outline: none;
    border-radius: 50px;
    height: 50px;
    width: 20rem;
    margin-left: 1em;
    font-size: 10px;
  }
  nav{
    padding: 0 0 0 12em;
  }
  .navtitle{
    font-size: 14px;
    margin: 10px 0 0 0;
  }
  .navforminput{
    height: 40px;
  }
  .searchbtn{
    font-size: 10px;
    height: 30px;
    width: 9em;
    transform: translateX(-96px);
  }
}
@media (max-width: 425px){
  nav{
    padding: 0;
  }
  .searchbtn{
    transform: translate(0);
  }

}


.navtitle {
  align-items: baseline; /* Aligns baseline of elements */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navtitle1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navtitle h2 {
  font-size: 30px; /* Adjust the font size for "Welcome" */
  margin-right: 10px; /* Adds space between "Welcome" and email */
}

.email_section {
  font-size: 40px; /* Adjust the font size for email */
  font-weight: bold; /* Optional: Adds bold styling */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navdiv{
  background-color: #ffffff;
}

.error1 {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
  margin-left: 48%;
}